/*						stylesheet						*/

body { font-family: sans-serif; line-height: 1.5; min-height: 100vh; background: #f3f3f3; 
	display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0;}

#app { 	width: 250px; padding: 20px; text-align: center; border: 1px solid #9d9d9d; background: #FDFDFD;}
#app, button { border-radius: 10px;}

label, input, button { width: 100%;}
label, input { display: block; }
input, button { padding: 15px; }

label {  margin-top: 10px; margin-bottom: 5px; text-align: left; color: #555; font-weight: bold;}
input {  margin-bottom: 15px; box-sizing: border-box; border: 1px solid #ddd; border-radius: 5px; width: 250px;}
button { margin-top: 15px; margin-bottom: 15px; border: none; color: white; cursor: pointer; 
	background-color: #4CAF50; font-size: 16px; width: 150px;}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	25% { transform: translateX(-15px); }
	50% { transform: translateX( 15px); }
	75% { transform: translateX(-15px); }
}
	
.shake { animation: shake 0.3s ease-in-out;}


/* HTML: <div class="loader"></div> */
.loader {
	--w:10ch; font-weight: bold; font-family: monospace; font-size: 30px; line-height: 2em; letter-spacing: 
	var(--w); width:var(--w); overflow: hidden; white-space: nowrap; color: #0000;
	text-shadow: 
		  calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
		  calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
	animation: l31 1s infinite cubic-bezier(0.5,-150,0.5,150);
  }
  .loader:before {		content:"Loading...";}
  
  @keyframes l31{
	15%,100% {
	text-shadow: 
		  calc( 0*var(--w) + 0.1px) 0 #000,calc(-1*var(--w)) 0.01em #000,calc(-2*var(--w) - 0.2px) 0 #000,calc(-3*var(--w) + 0.1px) 0.01em #000,calc(-4*var(--w)) -0.01em #000, 
		  calc(-5*var(--w) - 0.1px) 0 #000,calc(-6*var(--w) - 0.2px) 0.015em #000,calc(-7*var(--w) - 0.1px) 0.02em #000,calc(-8*var(--w)) -0.01em #000,calc(-9*var(--w) + 0.2px) -0.01em #000;
	}
  }

    /* HTML: <div class="dots"></div> */
.dots-container { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100px;}

.dots {
	height: 15px;
	aspect-ratio: 5;
	background: radial-gradient(closest-side at 37.5% 50%,#000 94%,#0000) 0/calc(80%/3) 100%;
	animation: l47 .75s infinite;
  }
  @keyframes l47 {
	100% {background-position: 36.36%}
  }